Source: pagemon
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libncurses-dev
Homepage: https://github.com/ColinIanKing/pagemon

Package: pagemon
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: interactive memory/page monitoring tool
 pagemon is a ncurses based interactive memory/page monitoring tool
 allowing one to browse the memory map of an active running process
 on Linux.
